@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }

  #success-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .features-grid {
    display: flex;
    flex-direction: column;
  }

  .card-box {
    flex-direction: column;
    padding: 20px;
  }

  .video-container iframe {
    height: 250px;
  }

  .host-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .host-content {
    margin-top: 0px;
  }

  .social-links {
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 576px) {
  #nav-content {
    display: none;
  }

  .hide-btn {
    display: none;
  }

  .hamburger {
    display: block;
    width: 28px;
  }

  .card-box {
    flex-direction: column;
    padding: 10px;
  }

  .card {
    height: 100%;
  }

  .host-image img {
    width: 12rem;
    height: 12rem;
  }
  
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 40px;
  }
}