* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#nav-bar {
  background-color: #1A0B2E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

#nav-bar h1 {
  color: white;
}

#nav-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

#nav-content ul a {
  text-decoration: none;
  color: white;
}

.text-color {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
   background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
   color: white;
   padding: 12px 16px;
   border: none;
   border-radius: 20px;
}

.btn i{
   margin-left: 3px;
}